.card{
    
    width: 200px;
    border:2px solid black;
    display:inline-block;
    margin:20px;
    border-radius:20px;
    box-shadow: 0px 10px 25px black;
    transition:2s;
}
.dis{
    padding: 0px 0px 0px 5px;
}

img{
    width:100%;
    border-radius:20px 20px 0px 0px;
}

.card:hover{
    box-shadow:2px 20px 25px goldenrod;
}