div{
    height:100px;
    width:100px;
    background-color: blue;
    margin:20px;
    border:5px solid black;
    display:inline-block;
}

#Static{
    background-color: yellow;
    position:static;
    top:100px;
    left:100px;
}

#relative{
    background-color: yellow;
    position:relative;
    top:100px;
    left:200px;
}

#absolute{
    background-color: yellow;
    position:absolute;
    top:100px;
    left:100px;
}

#fixed{
    background-color: yellow;
    position:fixed;
    top:100px;
    left:100px;
}

