.face{
    width:400px;
    height:400px;
    border-radius:50%;
    background-color:#ffa511;
}
.mouth{
    width:200px;
    height:75px;
    background-color: red;
    border-radius:0px 0px 50px 50px;
    position:absolute;
    top:250px;
    left:100px; 
}

.lefteye, .righteye{
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color: black;
    display:inline-block;
    position:absolute;
     left:100px;
     top:100px;
}

.righteye{
    left:250px;
}