div{
    height:100px;
    width: 100px;
    margin: 0 auto;
    background-color: rgba(255,0,0,0.8);
    transition:margin-top 1s ease-in 0.5s;

}

div:hover{
    background-color:green;
    margin-top: 500px; 
}