body{
    margin-left: 20px;
}
.chat{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
}