
    h1{
        color: red;
        background-color: yellow;
    }

    p{
        color:aquamarine;
        background-color: bisque;
    }

    button{
        color:aqua;
        background-color: blueviolet;
    }
   
