<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    

    <h1>This is a home page</h1>
    <h3><%= 1+2 %></h3> 
    <!-- yaha %= 1+2 %   ejs part hai yaa print nahi hogaa calculate hogaa and final output string form me ayegaa -->
    <h3><%= "Apna Collage".toUpperCase()%></h3>
    <h3><%= ["hello","hii","namaste"] [2] %></h3>
    <p>hsdddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        dksndjdbndddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        dksndjdbndddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        ddddddddddddddddddddddfffffffffffffffffffffffffffffffffffffffffffff
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeer
        eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
    </p>

    <button>Submit</button>
</body>
</html>