.container{
    width: 600px;
    height:300px;
    background-color: rgb(225, 214, 9);
    display:grid;
    /* grid-template-rows:100px 100px 100px 100px ;
    grid-template-columns: 100px 100px 100px 100px; */
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:repeat(5, 1fr);
    row-gap: 10px;
    column-gap:10px;
}

.item{
    /* width:100px;
    height: 50px; */
    background-color: greenyellow;
    border:2px solid black;
    text-align: center;
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
}

.two{
    grid-row-start:1;
    grid-row-end:3 ;
}