.container{
    width:80%;
    height:300px;
    background-color: azure;
    margin:10px auto;
    border:2px solid black;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}

h1{
    text-align:center;
}

.container div{
    height:200px;
    width: 50px;
    color:white;
    text-align: center;
}